<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aktivnosti.bg</title>
    <link rel="icon" href="img/fav.png" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="css/style.css" rel="stylesheet">
    <!-- range slider -->
    <link href="css/rangeslider.css" rel="stylesheet">
    <!-- modernizr -->
    <script src="js/modernizr.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous'>
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
        <!-- box-header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="index.html"><img src="img/logo.png" width="80" alt="Logo"></a>
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Абонирай се</span><span class="box-menu-icon"></span>
            </a>
        </header>
        <!-- end box-header -->

        <!-- sunscribe nav menu -->
        <nav>
            <div class="box-primary-nav">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="well">
                                    <h3>Абонирайте се за нашите предложения</h3>
                                    <form action="#">
                                        <div class="input-group">

                                            <div class="input-contact">
                                                <input type="text" name="email">
                                                <span>Вашият имейл</span>

                                            </div>
                                            <div class="button-group">
                                                <button href="#" class="btn btn-box">Изпрати</button>
                                            </div>
                                            <div class="nopsi-checkbox-container">

                                                <div class="nopsi-checkbox">
                                                    <div class="nopsi-checkbox-text">
                                                        Спорт
                                                    </div>
                                                    <div class="nopsi-checkbox-tool">
                                                        <input class="nopsi-checkbox-tool-chk" checked="checked" type="checkbox">
                                                        <div class="nopsi-checkbox-tool-ball"></div>
                                                        <div class="nopsi-checkbox-tool-lin-up"></div>
                                                        <div class="nopsi-checkbox-tool-lin-down"></div>
                                                    </div>
                                                </div>

                                                <div class="nopsi-checkbox">
                                                    <div class="nopsi-checkbox-text">
                                                        Обучение
                                                    </div>
                                                    <div class="nopsi-checkbox-tool">
                                                        <input class="nopsi-checkbox-tool-chk" checked="checked" type="checkbox">
                                                        <div class="nopsi-checkbox-tool-ball"></div>
                                                        <div class="nopsi-checkbox-tool-lin-up"></div>
                                                        <div class="nopsi-checkbox-tool-lin-down"></div>
                                                    </div>
                                                </div>

                                                <div class="nopsi-checkbox">
                                                    <div class="nopsi-checkbox-text">
                                                        Танци
                                                    </div>
                                                    <div class="nopsi-checkbox-tool">
                                                        <input class="nopsi-checkbox-tool-chk" checked="checked" type="checkbox">
                                                        <div class="nopsi-checkbox-tool-ball"></div>
                                                        <div class="nopsi-checkbox-tool-lin-up"></div>
                                                        <div class="nopsi-checkbox-tool-lin-down"></div>
                                                    </div>
                                                </div>

                                                <div class="nopsi-checkbox">
                                                    <div class="nopsi-checkbox-text">
                                                        Изкуство
                                                    </div>
                                                    <div class="nopsi-checkbox-tool">
                                                        <input class="nopsi-checkbox-tool-chk" checked="checked" type="checkbox">
                                                        <div class="nopsi-checkbox-tool-ball"></div>
                                                        <div class="nopsi-checkbox-tool-lin-up"></div>
                                                        <div class="nopsi-checkbox-tool-lin-down"></div>
                                                    </div>
                                                </div>

                                                <div class="nopsi-checkbox">
                                                    <div class="nopsi-checkbox-text">
                                                        Развлечение
                                                    </div>
                                                    <div class="nopsi-checkbox-tool">
                                                        <input class="nopsi-checkbox-tool-chk" checked="checked" type="checkbox">
                                                        <div class="nopsi-checkbox-tool-ball"></div>
                                                        <div class="nopsi-checkbox-tool-lin-up"></div>
                                                        <div class="nopsi-checkbox-tool-lin-down"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </nav>
        <!--end sunscribe nav menu-->
    </div>
    <!-- top-bar -->
    <div class="top-bar single-project">
        <h1>Новини</h1>
        <p><a href="index.html">Намери активност</a> / Новини</p>
    </div>
    <!-- end top-bar -->

    <!-- main-container -->
    <div class="container main-container">
        <div class="clearfix">
			<!-- single news-->
			<div class="col-md-4 service-box">
					<!-- service-box -->
					
					<img src="img/portfolio/06.jpg" alt="pic">
					<h3>Заглавие на новина</h3>
					<div class="h-10"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
				
				<!-- end service-box -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-box" data-toggle="modal" data-target="#myModal">Прочети</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>

								<img src="img/portfolio/06.jpg" alt="pic">
								<h3>Заглавие на новина</h3>
							</div>
							<div class="modal-body">
								<div class="h-10"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-box" data-dismiss="modal">Затвори</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- end single news-->
            <!-- single news-->
			<div class="col-md-4 service-box">
					<!-- service-box -->
					
					<img src="img/portfolio/02.jpg" alt="pic">
					<h3>Заглавие на новина</h3>
					<div class="h-10"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
				
				<!-- end service-box -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-box" data-toggle="modal" data-target="#myModal">Прочети</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>

								<img src="img/portfolio/02.jpg" alt="pic">
								<h3>Заглавие на новина</h3>
							</div>
							<div class="modal-body">
								<div class="h-10"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-box" data-dismiss="modal">Затвори</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- end single news-->
			<!-- single news-->
			<div class="col-md-4 service-box">
					<!-- service-box -->
					
					<img src="img/portfolio/04.jpg" alt="pic">
					<h3>Заглавие на новина</h3>
					<div class="h-10"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
				
				<!-- end service-box -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-box" data-toggle="modal" data-target="#myModal">Прочети</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>

								<img src="img/portfolio/04.jpg" alt="pic">
								<h3>Заглавие на новина</h3>
							</div>
							<div class="modal-body">
								<div class="h-10"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-box" data-dismiss="modal">Затвори</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- end single news-->
			<!-- single news-->
			<div class="col-md-4 service-box">
					<!-- service-box -->
					
					<img src="img/portfolio/03.jpg" alt="pic">
					<h3>Заглавие на новина</h3>
					<div class="h-10"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
				
				<!-- end service-box -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-box" data-toggle="modal" data-target="#myModal">Прочети</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>

								<img src="img/portfolio/03.jpg" alt="pic">
								<h3>Заглавие на новина</h3>
							</div>
							<div class="modal-body">
								<div class="h-10"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-box" data-dismiss="modal">Затвори</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- end single news-->
			<!-- single news-->
			<div class="col-md-4 service-box">
					<!-- service-box -->
					
					<img src="img/portfolio/01.jpg" alt="pic">
					<h3>Заглавие на новина</h3>
					<div class="h-10"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
				
				<!-- end service-box -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-box" data-toggle="modal" data-target="#myModal">Прочети</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>

								<img src="img/portfolio/01.jpg" alt="pic">
								<h3>Заглавие на новина</h3>
							</div>
							<div class="modal-body">
								<div class="h-10"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-box" data-dismiss="modal">Затвори</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- end single news-->
			<!-- single news-->
			<div class="col-md-4 service-box">
					<!-- service-box -->
					
					<img src="img/portfolio/05.jpg" alt="pic">
					<h3>Заглавие на новина</h3>
					<div class="h-10"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
				
				<!-- end service-box -->
				<!-- Trigger the modal with a button -->
				<button type="button" class="btn btn-box" data-toggle="modal" data-target="#myModal">Прочети</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>

								<img src="img/portfolio/05.jpg" alt="pic">
								<h3>Заглавие на новина</h3>
							</div>
							<div class="modal-body">
								<div class="h-10"></div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-box" data-dismiss="modal">Затвори</button>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- end single news-->

        </div>
    </div>
    <!-- end main-container -->

    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <p class="copyright">© Aktivnosti-bg 2019</p>
        </div>
    </footer>
    <!-- end footer -->

    <!-- back to top -->
    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
    <!-- end back to top -->

    <!-- jQuery -->
    <script src="js/jquery-2.1.1.js"></script>
    <!--  plugins -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/animated-headline.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/slider.js"></script>
    <!--  custom script -->
    <script src="js/custom.js"></script>
    <!-- google analytics  -->
    <!-- <script src="js/google_analytics.js"></script> -->
    <!-- Range Slider script -->
    <script src="js/rangeslider.min.js"></script>
    <script src="js/rangeslider.js"></script>
    <script src="js/slick.js"></script>
</body>

</html>