/node_modules
/public/hot
/public/storage
Laravel/public/user_files
/storage/*.key
/vendor
/.phpintel
.env
.env.*.php
.env.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.*.php
.env.php
.rocketeer/
